<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Movie and Show Reviews</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="text-center show-header" data-bind="css: { 'hide-header': hasResults, 'show-header': !$data.hasResults() }">
        <h1 class="main-header">Film &amp; Show Reviews <span class="fa fa-film" aria-hidden="true"></span></h1>
        <h4>Search thousands of user reviews from <a href="http://www.imdb.com/">IMDb</a></h4>
    </div>
    <div class="container-fluid">
        @RenderSection("Header", false)
    </div>
    <div class="container body-content">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ryan Hamacher</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    <script type="text/javascript" src="~/Scripts/search/search.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
