<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Movie and Show Reviews</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="text-center show-header" data-bind="css: { 'hide-header': hasResults, 'show-header': !$data.hasResults() }">
        <h1 class="main-header">Film &amp; Show Reviews <span class="fa fa-film" aria-hidden="true"></span></h1>
        <h4>Search thousands of user reviews from <a href="http://www.imdb.com/">IMDb</a></h4>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="searchBar" data-bind="css: { 'searchBar-inSearch': hasResults }">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", id = "mainSearchForm" }))
            {
                    <div class="col-xs-2" style="padding-left: 0;">
                        <a href="/" data-bind="css: { 'disable': !$data.hasResults() }">
                            <div class="searchBar-brand" data-bind="css: { 'show-brand': hasResults }">
                                <span class="fa fa-film"></span>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-8">
                        <div class="input-group searchInput">
                            <input type="text" class="form-control" data-bind="textInput: searchTerm" />
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" data-bind="click: search"><span class="fa fa-search"></span></button>
                            </span>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ryan Hamacher</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    <script type="text/javascript" src="~/Scripts/search/search.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
