
@{
    ViewBag.Title = "Admin Panel";
}

@section Header{
<h2 class="text-center">@ViewBag.Title</h2>
}

<div class="row">
    @Html.Label("Fetch Metadata from OMDB API", new { @class = "col-sm-4" })
    <div class="col-sm-8">
        @Html.CheckBox("fetchMetaData")
    </div>
</div>

<button class="btn btn-primary" onclick="importReviews()">Import Review Data</button>

<button class="btn btn-primary" onclick="buildAutoComplete()">Build Autocomplete Index</button>

<button class="btn btn-primary" onclick="buildSpellCheck()">Build Spellcheck Index</button>

<script type="text/javascript">
    function importReviews() {
        $.ajax({
            method: "POST",
            url: "@Url.Action("BuildLuceneIndex", "Admin", new { Area = "Admin"})",
            data: {
                fetchMetaData: $('#fetchMetaData').val()
            },
            success: function (resp) {
                if (resp.status === "success") {
                    alert("Index built successfully.");
                }
            }
        });
    }

    function buildAutoComplete() {
        $.ajax({
            method: "POST",
            url: "@Url.Action("BuildLuceneAutoCompleteIndex", "Admin", new { Area = "Admin"})",
            success: function (resp) {
                if (resp.status === "success") {
                    alert("Index built successfully.");
                }
            }
        });
    }

    function buildSpellCheck() {
        $.ajax({
            method: "POST",
            url: "@Url.Action("BuildSpellCheckIndex", "Admin", new { Area = "Admin"})",
            success: function (resp) {
                if (resp.status === "success") {
                    alert("Index built successfully.");
                }
            }
        });
    }
</script>
